body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
}

.container {
  max-width: 520px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #334155;
  border-radius: 10px;
}

.btn-admin {
  background: #3b82f6;
  padding: 6px 10px;
  border-radius: 8px;
  color: white;
  text-decoration: none;
}

input {
  width: 95%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  color: white;
}

button:hover {
  background: #16a34a;
}

.btn-logout {
  background: #ef4444;
}

.btn-eliminar {
  background: yellow;
  color: black;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th, td {
  border-bottom: 1px solid #ccc;
  padding: 8px;
}